<ion-content>
  <div class="background-container">
    <img src="../../assets/VESTA__1_-removebg-preview.png" alt="Logo" class="logo">
    <div class="login-container">
      <ion-card class="login-card">
        <ion-card-content>
          <div class="title-container">
            <ion-title>¡Bienvenido!</ion-title>
          </div>
          <div class="button-container">
            <ion-button shape="round" size="large" class="login-button" [routerLink]="['/register']">
              Registrarse
            </ion-button>
          </div>
          <div class="button-container">
            <ion-button shape="round" size="large" class="login-button" [routerLink]="['/login']">
              Iniciar sesión
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
