<ion-content>
  <ion-header [translucent]="true">
  </ion-header>

  <ion-card>
    <ion-card-content>
      <form #exerciseForm="ngForm" (ngSubmit)="saveExercise(exerciseForm)">
        <ion-item>
          <ion-label position="floating">Peso (kg)</ion-label>
          <ion-input type="number" name="weight" [(ngModel)]="exercise.weight" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Repeticiones</ion-label>
          <ion-input type="number" name="reps" [(ngModel)]="exercise.reps" required></ion-input>
        </ion-item>
        <ion-button type="submit" [disabled]="!exerciseForm.valid">Guardar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <canvas id="exerciseChart"></canvas>
</ion-content>